<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" id="app">
        <!-- SLIDER -->
        <div class="slider">
            <!-- BOTTONE IMMAGINE PRECEDENTE -->
            <button class="prev" @click="prevImg">prec</button>
            <!-- CONTENITORE IMMAGINI SLIDER -->
            <div class="sliderimg" @mouseover="hover = true" @mouseleave="hover = false" v-for="(image, index) in images" v-show="currentIndex === index">
                <!-- IMMAGINE SLIDER -->
                <img :src="image" alt="">
            </div>
            <!-- BOTTONE IMMAGINE SUCESSIVA -->
            <button class="next" @click="nextImg" >next</button>
        </div>
        
        <!-- CONTENITORE THUMB -->
        <div class="thumbs">
            <!-- THUMB -->
            <div class="thumb" @click="imgClick(index)" v-for="(image, index) in images">
                <!-- IMG THUMB -->
                <img :src="image"  alt="">
            </div>
            
        </div>
    </div>







    
    <!-- LINK VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- LINK JS -->
    <script src="main.js"></script>
</body>
</html>